.p{
    height: auto;
    overflow: hidden;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.p_projectlist {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    height: auto;
    width: 90%;
    padding: 2rem 2%;
    overflow-x: hidden;
}

.height-auto{
    height: auto;
}
.project_item{
    flex-grow: 1;
}

.seeLess-btn{
    cursor: pointer;
}

.seeMore-btn{
    margin-top: 1rem;
    cursor: pointer;
    align-items: center;
    border: none;
    padding: 1rem;
    background: none;
}
@media screen and (max-width: 80em){
    .p_title {
        font-size: 12vw;
    }

    .p {
        height: auto;
    }

    .p_projectlist {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .p_projectlist > * {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    
}

.fade-in{
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}