.tm{
    height:auto;
    padding-top: 3%;
    color: black;
}

.tm_container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 60px;
    color:white;
}

// h5 {
//     margin-top: 3rem;
// }

@media screen and (max-width: 37em){

    h1 {
        font-size: 40px;
    }
}

.tm_title {
    margin-bottom: 1rem;
}