.tm{
    height:auto;
    margin-top: 2rem;
    

    > h3,h5,p {
        // color: black;
        transition: color 0.3s ease;
    }
}
.vt_title{
    // color: black;
    transition: color 0.3s ease;
}

.App.light-mode .tm > h3,
.App.light-mode .tm > h5,
.App.light-mode .tm > p,
.App.light-mode .vt_title {
    color: white;
}

.App.dark-mode .tm > h3,
.App.dark-mode .tm > h5,
.App.dark-mode .tm > p,
.App.dark-mode .vt_title {
    color: black;
}
.tm_container {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.App.dark-mode .vertical-timeline-element-content {
    background-color: white;
}

.App.light-mode .vertical-timeline-element-content {
    background-color: black;
}

.App.dark-mode .vt-tm-text{
    color: black;
}

.App.light-mode .vt-tm-text{
    color: white;
}
h1:not(.animated-title) {
    font-size: 4vw;
    transition: color 0.3s ease;
}

.App.light-mode h1:not(.animated-title) {
    color: black;
}

.App.dark-mode h1:not(.animated-title) {
    color: white;
}

@media screen and (max-width: 37em){
    h1:not(.animated-title) {
        font-size: 40px;
    }
}

.tm_title {
    font-size: clamp(2rem, 4vw, 3.5rem);
    text-align: center;
    margin-bottom: 2rem;
}

.description-points{
    list-style: none;
    margin-bottom: 20px;
}

h5 {
    margin-top: 1rem;
}

.work-website-link {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.5rem;
    background-color: #0C6EFD;
    color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.25s ease-in-out;
}

.work-website-link:hover{
    border-radius: 10px;
}

.vertical-timeline-element-date{
    color: rgb(216, 78, 78);
}