.i {
    display: flex;
    height: 100vh;
    
    > .i_left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    > .i_right {
        flex: 1;
        position: relative;
        .i_img {
           width: 70%;
           height: 70%;
           object-fit: cover;
           position: absolute;          
        }
    }
}
.l_container {
    height: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i_scroll {
    width:30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 45%;
    
}
.i_bg{
    clip-path: polygon(20% 0%,100% 0%,100% 100%,0% 100%);
    background-image: url(../../images/pic.webp);
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.MuiSvgIcon-root{
    // color: #222;
    color: white;
    margin-left: 10px;
}
.links{
    height:30px;
    width: 30%;
    margin-top: 1rem;
    display: flex;
    align-items: center;

}
.i_intro {
    font-size: 30px;
    font-weight:300;
}

.i_name {
    font-size: 60px;
}

.i_title {
    height: 100px;
    overflow: hidden;
}

.title_item {
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(95, 240, 240);
    
}
.t_container {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
   
    
    33% {
        transform: translateY(-50px);
    } 
    66%{
        transform: translateY(-100px);
    }
   
    
}

.p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.p_texts {
    width: 65%;

}

.p_title {
    font-size: 60px;
    font-weight: 600;
}

.p_desc {
    margin: 20px 0;
}

.p_projectlist{
    display: flex;
}

@media screen and (max-width: 37em) {
    .i {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .i_bg {
        clip-path: none;
        background-position: center -500px;
    }

    .l_container {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .title_item {
        font-size: 0.9rem;
    }
}

.from-left {
    transform: translateX(-50%);
    transition: all 800ms ease-in;
    opacity: 0;
}

.from-left.slide-in{
    transform: translateX(0);
    opacity: 1;
}